<settings>

    <setting propertyKey="@Properties.calculationMethod" title="@Strings.setting_method">
        <settingConfig type="list">
            <listEntry value="0">@Strings.method_jafari</listEntry>
            <listEntry value="1">@Strings.method_karachi</listEntry>
            <listEntry value="2">@Strings.method_isna</listEntry>
            <listEntry value="3">@Strings.method_mwl</listEntry>
            <listEntry value="4">@Strings.method_makkah</listEntry>
            <listEntry value="5">@Strings.method_egypt</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.juristicMethod" title="@Strings.setting_juristic">
        <settingConfig type="list">
            <listEntry value="0">@Strings.juristic_shafii</listEntry>
            <listEntry value="1">@Strings.juristic_hanafi</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.latitudeMethod" title="@Strings.setting_latitude">
        <settingConfig type="list">
            <listEntry value="0">@Strings.latitude_none</listEntry>
            <listEntry value="1">@Strings.latitude_midnight</listEntry>
            <listEntry value="2">@Strings.latitude_oneseventh</listEntry>
            <listEntry value="3">@Strings.latitude_anglebased</listEntry>
        </settingConfig>
    </setting>

</settings>
